/*
body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color:#DDDDDD;
}
*/

.heading {
    font-family: Arial;
    color: #666666;
}

.divTable {
    display: table;
    width: auto;
    border: 1px solid  #666666;
    /*
    border-collapse: collapse;
    border-spacing:5px;
    */
}

.headRow {
    /*margin-bottom:5%;*/
    display: table-row;
    width: auto;
    /*
    font-style: italic;
    font-family: Verdana;
    text-decoration: underline;
    text-decoration-style: dashed;
    */
}

.divRow {
    display: table-row;
    width: auto;
}

.divCell {
    float: left;
    padding-top: 12px;
    display: table-column;
	border: 1px solid #666666;
    width: 150px;
	height: 50px;
    background-color: white;
    color: #337ab7;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.second-heading {
    margin-top: 2%;
    margin-bottom: 2%;
}

.title-heading {
	float: left;
    margin-left: 2%;
    margin-right: 30%;
    color: #666666;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
}


.tag-header {
    /*
	float: left;
    margin-left: 5%;
    */
    display: inline-block;
}


.tag-style {
	float:left;
}

/*
.rss-style {
	float:left;
	margin-right:10%;
}

.rss-substyle {
	float:left;
}
*/