<!DOCTYPE html>
{% autoescape true %}

<html>

	<head>

	  <link type="text/css" rel="stylesheet" href="/css/style.css" />
	  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	  <script type="text/javascript" src="/js/validations.js"></script>
	  
	</head>

	<body>

		<div class="container">

			<h1 class="heading">Online Reservation System</h1>
			<hr>

			<ul class="nav nav-pills">

				<li><a href="/">HOME</a></li>

				{% if isOwnerResource == 'false' %}				
					<li class=
					{% if menu_name == "your_reservations" %}
						active
					{% endif %}
					>
						<a href="?menu_name=your_reservations&isOwnerResource={{isOwnerResource}}&owner={{owner}}">YOUR RESERVATIONS</a>
					</li>
				{% endif %}

				{% if isOwnerResource == 'true' %} 				
					<li class=
					{% if menu_name == "your_reservations" %}
						active
					{% endif %}
					>
						<a href="?menu_name=your_reservations&isOwnerResource={{isOwnerResource}}&owner={{owner}}">{{owner}} RESERVATIONS</a>
					</li>
				{% endif %}

				{% if isOwnerResource == 'false' %} 
					<li class=
					{% if menu_name == "all_resources" %}
						active
					{% endif %}				
					>
						<a href="?menu_name=all_resources">ALL RESOURCES</a>
					</li>				
				{% endif %}

				{% if isOwnerResource == 'false' %}				
					<li class=
					{% if menu_name == "your_resources" %}
						active
					{% endif %}
					>
						<a href="?menu_name=your_resources&isOwnerResource={{isOwnerResource}}&owner={{owner}}">YOUR RESOURCES</a>
					</li>
				{% endif %} 

				{% if isOwnerResource == 'true' %}				
					<li class=
					{% if menu_name == "your_resources" %}
						active
					{% endif %}
					> 
						<a href="?menu_name=your_resources&isOwnerResource={{isOwnerResource}}&owner={{owner}}">{{owner}} RESOURCES</a>
					</li>
				{% endif %}

				{% if isOwnerResource == 'false' %}				
					<li class=
					{% if menu_name == "add_resource" %}
						active
					{% endif %}
					>
						<a href="?menu_name=add_resource">{{url_createResource}}</a>
					</li>
				{% endif %}

				<li><a href="{{url|safe}}">{{url_linktext}}</a></li>

			</ul>
			<hr>

			<div class="second-heading">

				<div class="title-heading">
				HI!
				{% if user %}
				{{user.nickname()}}
				{% endif %}
				</div>

				<div>
					<form action="/search" method="get">
						Search: 
						<input type="text" name="searchResource" placeholder="Resource Name"/>
						<input type="submit" value="Submit">
					</form>
				</div>			
			</div>
			<hr>

		
			{% if menu_name == "your_reservations" %}
				
				<div class="divTable">

					 <div class="headRow">
						<div  class="divCell">RESOURCE NAME</div>
						<div  class="divCell">TAGS</div>
						<div  class="divCell">START TIME</div>
						<div  class="divCell">DURATION</div>
						<div  class="divCell">DELETE</div>			
					 </div>

					{% for reservation in reservations %}

						{% if isOwnerResource == "true" %} 
							{% if owner == reservation.author.email %}

								<div class="divRow" id = "rowdiv{{reservation.uuid}}">

									<form id='myform{{reservation.resourceName}}' action="/resource" method="get">
										<div class="divCell">
											<input type="hidden" name="resource_uuid" value="{{reservation.resourceUUID}}">
											<a href="javascript:void(0)" onclick="document.getElementById('myform{{reservation.resourceName}}').submit()">{{reservation.resourceName}}</a>				
										</div>
									</form>

									<div class="divCell">											
										{% for resource in resources %}
											{% if reservation.resourceName == resource.resourceName %}
												{% for eachTag in resource.tags %}
														<form id="tagForm{{eachTag}}" action="/tag" method="get" class="tag-header">
															<input type="hidden" name="get_Tag" value="{{eachTag}}">
															<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
														</form>
												{% endfor %}
											{% endif %}
										{% endfor %}
									</div>
										
									<div class="divCell">{{reservation.startTime}}</div>

									<div class="divCell">{{reservation.duration}}</div>
									
									{% if owner == user.email() %}
										<form action="/" method="get">
											<div class="divCell">
												<input type="hidden" name="deleteReservation" value="{{reservation.uuid}}">
												<input type="submit" value="Delete">		
											</div>
										</form>
									{% endif %}
									
								</div>
								
								<script>
									var d = new Date();
									var str = "";										
									var endTime = new Date("{{reservation.endTime}}");
									if (endTime < d) {
										document.getElementById("rowdiv{{reservation.uuid}}").style.display = "none";
									}
								</script>

							{% endif %}
						{% endif %}

						{% if isOwnerResource == 'false' %}
							{% if user and user.user_id() == reservation.author.identity %}
						
								<div class="divRow" id = "rowdiv{{reservation.uuid}}">

									<form id='myform{{reservation.resourceName}}' action="/resource" method="get">
										<div class="divCell">
											<input type="hidden" name="resource_uuid" value="{{reservation.resourceUUID}}">
											<a href="javascript:void(0)" onclick="document.getElementById('myform{{reservation.resourceName}}').submit()">{{reservation.resourceName}}</a>			
										</div>
									</form>

									<div class="divCell">										
										{% for resource in resources %}	
											{% if reservation.resourceName == resource.resourceName %}
												{% for eachTag in resource.tags %}
														<form id="tagForm{{eachTag}}" action="/tag" method="get" class="tag-header">
															<input type="hidden" name="get_Tag" value="{{eachTag}}">
															<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
														</form>
												{% endfor %}
											{% endif %}
										{% endfor %}
									</div>										
											
									<div class="divCell">{{reservation.startTime}}</div>

									<div class="divCell">{{reservation.duration}}</div>
									
									<form action="/" method="get">
										<div class="divCell">
											<input type="hidden" name="deleteReservation" value="{{reservation.uuid}}">
											<input type="submit" value="Delete" >				
										</div>
									</form>
									
								</div>
								
								<script>
									var d = new Date();
									var str = "";									
									var endTime = new Date("{{reservation.endTime}}");
									if (endTime < d) {
									document.getElementById("rowdiv{{reservation.uuid}}").style.display = "none";
									}
								</script>

							{% endif %}
						{% endif %}						

					{% endfor %}									

				</div>				
				
			{% endif %}


			{% if menu_name == "all_resources" %}
				
				<div class="divTable">
					<div class="headRow">
						<div class="divCell" align="center">RESOURCE NAME</div>
						<div  class="divCell">OWNER</div>
						<div  class="divCell">START TIME</div>
						<div  class="divCell">END TIME</div>
						<div  class="divCell">TAGS</div>
						<div  class="divCell">RSS LINK</div>
						<div  class="divCell">RESERVED COUNT</div>						
					</div>

					{% for resource in resources %}
						<div class="divRow">

							<form id='myform{{resource.resourceName}}' action="/resource" method="get">
								<div class="divCell">
									<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
									<a href="javascript:void(0)" onclick="document.getElementById('myform{{resource.resourceName}}').submit()">{{resource.resourceName}}</a>								
								</div>
							</form>
									
							<div class="divCell">
								<a href="/?owner={{resource.author.email}}">{{resource.author.email}}</a>
							</div>

							<div class="divCell">{{resource.startTime}}</div>

							<div class="divCell">{{resource.endTime}}</div>

							<div class="divCell">	
								{% for eachTag in resource.tags %}
									<form id="tagForm{{eachTag}}" action="/tag" method="get" class="tag-header">
										<input type="hidden" name="get_Tag" value="{{eachTag}}">
										<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
									</form>
								{% endfor %}
							</div>

							<div class="divCell">
								<form id="RSSForm{{resource.uuid}}" action="/rss" method="get">
									<input type="hidden" name="get_ResourceID" value="{{resource.uuid}}">
									<a href="javascript:void(0)" onclick="document.getElementById('RSSForm{{resource.uuid}}').submit()">RSS</a>			
								</form>
							</div>

							<div class="divCell">{{resource.numReservations}}</div>
							
						</div>
					{% endfor %}

				</div>

			{% endif %}


			{% if menu_name == "your_resources" %}
				
				<div class="divTable">

					<div class="headRow">
						<div class="divCell" align="center">RESOURCE NAME</div>
						<div  class="divCell">START TIME</div>
						<div  class="divCell">END TIME</div>
						<div  class="divCell">TAGS</div>
						<div  class="divCell">RSS LINK</div>
						<div  class="divCell">RESERVED COUNT</div>
					</div>

					{% for resource in resources %}

						{% if isOwnerResource == 'true' %} 
							{% if owner == resource.author.email %}

								<div class="divRow">

									<div class="divCell">
										<form id='myform{{resource.resourceName}}' action="/resource" method="get">
											<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
											<a href="javascript:void(0)" onclick="document.getElementById('myform{{resource.resourceName}}').submit()">{{resource.resourceName}}</a>						
										</form>
									</div>
									
									<div class="divCell">{{resource.startTime}}</div>
									
									<div class="divCell">{{resource.endTime}}</div>
									
									<div class="divCell">										
										{% for eachTag in resource.tags %}
											<form id="tagForm{{eachTag}}" action="/tag" method="get" class="tag-header">
												<input type="hidden" name="get_Tag" value="{{eachTag}}">
												<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
											</form>											
										{% endfor %}
									</div>

									<div class="divCell">
										<form id="RSSForm{{resource.uuid}}" action="/rss" method="get">
											<input type="hidden" name="get_ResourceID" value="{{resource.uuid}}">
											<a href="javascript:void(0)" onclick="document.getElementById('RSSForm{{resource.uuid}}').submit()">RSS</a>			
										</form>
									</div>

									<div class="divCell">{{resource.numReservations}}</div>

								</div>
							
							{% endif %}
						{% endif %}

						{% if isOwnerResource == 'false' %}
							{% if user and user.user_id() == resource.author.identity %}
								
								<div class="divRow">
									
									<div class="divCell">
										<form id='myform{{resource.resourceName}}' action="/resource" method="get">
											<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
											<a href="javascript:void(0)" onclick="document.getElementById('myform{{resource.resourceName}}').submit()">{{resource.resourceName}}</a>						
										</form>
									</div>

									<div class="divCell">{{resource.startTime}}</div>

									<div class="divCell">{{resource.endTime}}</div>

									<div class="divCell">										
										{% for eachTag in resource.tags %}
											<form id="tagForm{{eachTag}}" action="/tag" method="get" class="tag-header">
												<input type="hidden" name="get_Tag" value="{{eachTag}}">
												<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
											</form>										
										{% endfor %}
									</div>

									<div class="divCell">
										<form id="RSSForm{{resource.uuid}}" action="/rss" method="get">
											<input type="hidden" name="get_ResourceID" value="{{resource.uuid}}">
											<a href="javascript:void(0)" onclick="document.getElementById('RSSForm{{resource.uuid}}').submit()">RSS</a>			
										</form>
									</div>

									<div class="divCell">{{resource.numReservations}}</div>								
								</div>
							
							{% endif %}
						{% endif %}
						
					{% endfor %}

				</div>
				
			{% endif %}


			{% if menu_name == "add_resource" %}
				<div>

					<h4>ADD RESOURCE</h4>

					<span id="displayError" style="color:red"></span>
					<br>

					<form action="/addResource" onSubmit= "return checkValidations()"method="post" id="createForm">

						<div>Resource Name:
							<input id="resourceName" value="{{ resource_name }}" name="resource_name" required/>
						</div>
						<br>

						<div>
							Select Date(MM-DD-YYYY):

							<select name="Month" id = "Month">
								{% for num in range(1,13)%}
								  	<option value="{{ num }}">{{num}}</option>					
								{% endfor %}
							</select>

							<select name="Day" id = "Day">
								{% for num in range(1,32)%}
								  	<option value="{{ num }}">{{num}}</option>					
								{% endfor %}
							</select>

							<select name="Year" id = "Year">
								{% for num in range(2017,2100)%}
								  	<option value="{{ num }}">{{num}}</option>					
								{% endfor %}
							</select>

						</div>
						<br>

						<div>

							<span>
								Select Start Time(in hours and minutes):
									<select name="startHours" id = "startHours">
										{% for num in range(1,13)%}
										  	<option value="{{ num }}">{{num}}</option>				
										{% endfor %}
								</select>
							</span>

							<span>
								<select name="startMins" id = "startMins">
									{% for num in range(0,60)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="startMeridian" id = "startMeridian">
								  	<option value="AM">AM</option>					
								  	<option value="PM">PM</option>					
								</select>					
							</span>
						
							<span>
								Select End Time(in hours and minutes):

								<select name="endHours" id="endHours">
									{% for num in range(1,13)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="endMins" id="endMins">
									{% for num in range(0,60)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="endMeridian" id="endMeridian">
								  	<option value="AM">AM</option>					
								  	<option value="PM">PM</option>					
								</select>					
							</span>

						</div>
						<br>

						<div>
							Set Tags(; separated):
							<input id="resourceTags" name="resource_Tag" />							
						</div>					
						<br>

						<input type="submit" value="Submit">
						
					</form>

				</div>

			{% endif %}		
		
		<hr>
		</div>		
	
	</body>
	
</html>
{% endautoescape %}