<!DOCTYPE html>
{% autoescape true %}
<html>

	<head>

	  <link type="text/css" rel="stylesheet" href="/css/style.css" />
	  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	  <script src="/js/validations.js"></script>

	</head>

	<body>

		<div class="container">

			<h1 class="heading">Online Reservation System</h1>
			<hr>

			<ul class="nav nav-pills">

				<li><a href="/">HOME</a></li>

				<li class=
				{% if menu_name == "show_reservations" %}
					active
				{% endif %}
				>
					<a href="?menu_name=show_reservations&resource_uuid={{resource.uuid}}">CURRENT/UPCOMING RESERVATIONS</a>
				</li>

				<li class=
				{% if menu_name == "add_reservation" %}
					active
				{% endif %}				
				>
					<a href="?menu_name=add_reservation&resource_uuid={{resource.uuid}}">ADD RESERVATION</a>
				</li>
				
				{% if user and user.user_id() == resource.author.identity %}
					<li class=
					{% if menu_name == "edit_resource" %}
						active
					{% endif %}
					>
						<a href="?menu_name=edit_resource&resource_uuid={{resource.uuid}}">EDIT RESOURCE</a>
					</li>
				{% endif %}

				<li><a href="{{url|safe}}">{{url_linktext}}</a></li>
				
			</ul>
			<hr>

			<div class="second-heading">

				<div class="title-heading">
					HI!
					{% if user %}
						{{user.nickname()}}
					{% endif %}
				</div>

				<div>
					<form action="/search" method="get">
						Search: 
						<input type="text" name="searchResource" placeholder="Resource Name"/>
						<input type="submit" value="Submit">
					</form>
				</div>

			</div>				
			<hr>

			<div>RESOURCE NAME:&nbsp;<font color="337ab7">{{resource.resourceName}}</font><div>
				
			<div>	
				<div class="tag-style">TAGS:&nbsp;</div>
				<div>
				{% for eachTag in resource.tags %}
						<form id="tagForm{{eachTag}}" action="/tag" method="get" class="tag-header">
						<input type="hidden" name="get_Tag" value="{{eachTag}}">
						<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{eachTag}}').submit()">{{eachTag}}</a>
						</form>
				{% endfor %}
				</div>
			</div>
		
			<div>RESERVED COUNT:&nbsp;<font color="337ab7">{{resource.numReservations}}</font></div>

			<div class="rss-style">
				<div>
				<form id="RSSForm{{resource.uuid}}" action="/rss" method="get">
					<input type="hidden" name="get_ResourceID" value="{{resource.uuid}}">
					<a href="javascript:void(0)" onclick="document.getElementById('RSSForm{{resource.uuid}}').submit()">RSS</a>			
				</form>
				</div>
			</div>

			<hr>

									
			{% if menu_name == "show_reservations" %}
				
				<div class="divTable">

					 <div class="headRow">
						<div  class="divCell">RESERVED BY</div>
						<div  class="divCell">START TIME</div>
						<div  class="divCell">DURATION</div>
						<div  class="divCell">DELETE</div>					
					 </div>

					{% for reservation in reservations %}

						{% if reservation.resourceUUID == resource.uuid %}

							<div class="divRow" id = "rowdiv{{reservation.uuid}}">

								<div class="divCell"><a href="/?owner={{resource.author.email}}">{{resource.author.email}}</a></div>				
								<div class="divCell">{{reservation.startTime}}</div>
								<div class="divCell">{{reservation.duration}}</div>
								
								{% if reservation.author.identity == user.user_id() %}
									<form action="/" method="get">
										<div class="divCell">
											<input type="hidden" name="deleteReservation" value="{{reservation.uuid}}">
											<input type="submit" value="Delete" >					
										</div>
									</form>
								{% endif %}
								
							</div>
						
							<script>
							var d = new Date();
							var str = "";
								
								var endTime = new Date("{{reservation.endTime}}");
								if (endTime < d) {
								document.getElementById("rowdiv{{reservation.uuid}}").style.display = "none";
								}
							</script>

						{% endif %}

					{% endfor %}					

				</div>			
				
			{% endif %}


			{% if menu_name == "add_reservation" %}

				<div>
					<h4>ADD RESERVATION</h4>

					<span id="durationError" style="color:red"></span>
					<br>

					{% if flag == 'false' %}
						<div style="color:red">Please enter the correct Start Time and Duration</div>
						<br>
					{% endif %}

					START TIME: <font color="337ab7">{{resource.startTime}}</font>
					<br>

					END TIME: <font color="337ab7">{{resource.endTime}}</font>
					<br>
					<br>

					ALL RESERVATIONS:
					<span id = "endTimes"></span>

					<script>
						var d = new Date();
						var str = "";
						var numRes = 1;

							{% for reservation in reservations %}

								var endTime = new Date("{{reservation.endTime}}");
								var d1 = new Date("{{reservation.startTime}}")
								var d2 = new Date("{{reservation.endTime}}")
									
									if (endTime > d) {
									str = str + "<br>" +"Reservation " + numRes + ":   FROM " + d1 + '   ' + "TO " + d2;
									}

								numRes  =  numRes +1 ;

							{% endfor %}

						document.getElementById("endTimes").innerHTML = str;
					</script>

					<form action="/addReservation" onSubmit="return checkReserveValidations()" method="post" id="addReserveForm">

						<input type="hidden" name="resource_name" value="{{resource.resourceName}}">
						<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
						<input type="hidden" name="resource_startDate" value="{{resource_date}}">	
						<br>

						<div>
							AVAILABILITY DATE: <font color="337ab7">{{resource_date}}</font>
						</div>
						<br>

						<div>

							<span>
								Select Start Time (HH-MM):
								<select name="startHours" id = "rstartHours">
									{% for num in range(1,13)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="startMins" id = "rstartMins">
									{% for num in range(0,60)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="startMeridian" id = "rstartMeridian">
								  	<option value="AM">AM</option>					
								  	<option value="PM">PM</option>					
								</select>					
							</span>
					
							<span>
								&nbsp;Select Duration(in hours and mins):
								<select name="endHours" id="endHours">
									{% for num in range(0,13)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>	
								<select name="endMins" id="endMins">
									{% for num in range(0,60)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

						</div>
						<br>

						<input type="submit" value="Reserve">
						
					</form>

				</div>
				
			{% endif %}


			{% if menu_name == "edit_resource" %}

				<div>

					<h4>EDIT RESOURCE</h4>

					<span id="displayError" style="color:red"></span>
					<br>

					<form action="/addResource" onSubmit= "return checkValidations()"method="post" id="editForm">

						<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">

						<div>Resource Name:
							<input id="resourceName" value="{{ resource.resourceName }}" name="resource_name" required/>
						</div>
						<br>

						<div>						
							Select Date (MM-DD-YYYY):

								<select name="Month" id= "Month">
									{% for num in range(1,13)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>

								<select name="Day" id = "Day">
									{% for num in range(1,32)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>

								<select name="Year" id = "Year">
									{% for num in range(2017,2100)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
						
						</div>
						<br>

						<div>

							<span>
								Select Start Time (HH-MM):
								<select name="startHours" id = "startHours">
									{% for num in range(1,13)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="startMins" id = "startMins">
									{% for num in range(0,60)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="startMeridian" id = "startMeridian">
								  	<option value="AM">AM</option>					
								  	<option value="PM">PM</option>					
								</select>					
							</span>
						
							<span>
								&nbsp;Select End Time (HH-MM):
								<select name="endHours" id="endHours">
									{% for num in range(1,13)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="endMins" id="endMins">
									{% for num in range(0,60)%}
									  	<option value="{{ num }}">{{num}}</option>					
									{% endfor %}
								</select>
							</span>

							<span>
								<select name="endMeridian" id="endMeridian">
								  	<option value="AM">AM</option>					
								  	<option value="PM">PM</option>					
								</select>					
							</span>

						</div>
						<br>

						<div>
							Set Tags(; separated):
							<input id="resourceTags" name="resource_Tag" />
						</div>
						<br>

						<script>

							var x = "{{resource.startTime}}";
							startDateTime = new Date("{{resource.startTime}}");

							startDate = startDateTime.getDate();
							startMonth = startDateTime.getMonth() + 1;
							startYear = startDateTime.getFullYear();
							startHours = startDateTime.getHours();
							startMins = startDateTime.getMinutes();
							
							if(startHours > 12) {
								startHours = startHours - 12;
								startMeridian = 'PM'
							} else {
								startMeridian = 'AM'
							}
							
							endDateTime = new Date("{{resource.endTime}}");
							endHours = endDateTime.getHours();
							endMins = endDateTime.getMinutes();							
							
							if(endHours > 12) {
								endHours = endHours - 12;
								endMeridian = 'PM'
							} else {
								endMeridian = 'AM'
							}

							document.getElementById("Month").value = startMonth;
							document.getElementById("Day").value = startDate;
							document.getElementById("Year").value = startYear;
							document.getElementById("startHours").value = startHours;
							document.getElementById("startMins").value = startMins;
							document.getElementById("startMeridian").value = startMeridian;	
							document.getElementById("endHours").value = endHours;
							document.getElementById("endMins").value = endMins;
							document.getElementById("endMeridian").value = endMeridian;

							var str = ""
							{% for eachtag in resource.tags %}
								str = str + "{{eachtag}}" + ';' ;
							{% endfor %}

							document.getElementById("resourceTags").value = str;
						
						</script>

						<input type="submit" value="Submit">
						
					</form>

				</div>
				
			{% endif %}			
		
		<hr>				
		</div>

	</body>

</html>
{% endautoescape %}