<!DOCTYPE html>
<html>

	<head>
	  	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	  	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
	</head>

	<body>
		<div class="container">

		<hr>
		<ul class="nav nav-pills">
			<li><a href="/">HOME</a></li>
		</ul>
		<hr>
			
		<pre>
{{xmlFile}}
		</pre>

		</div>
	</body>
	
</html>
