<!DOCTYPE html>
{% autoescape true %}

<html>

	<head>
	  	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	  	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
	</head>

	<body>

		<div class="container">

			<h1 class="heading">Online Reservation System</h1>
			<hr>

			<ul class="nav nav-pills">
				<li><a href="/">HOME</a></li>
				<li><a href="{{url|safe}}">{{ url_linktext }}</a></li>

			</ul>
			<hr>

			<div class="second-heading">

				<div class="title-heading">
					HI!
					{% if user %}
						{{user.nickname()}}
					{% endif %}
				</div>

				<div>
					<form action="/search" method="get">
						Search: 
						<input type="text" name="searchResource" placeholder="Resource Name"/>
						<input type="submit" value="Submit">
					</form>
				</div>

			</div>
			<hr>

			<div class="divTable">

				<div class="headRow">
					<div class="divCell" align="center">RESOURCE NAME</div>
					<div  class="divCell">OWNER</div>
					<div  class="divCell">START TIME</div>
					<div  class="divCell">END TIME</div>
					<div  class="divCell">TAGS</div>
					<div  class="divCell">RSS</div>
					<div  class="divCell">RESERVED COUNT</div>					
				</div>

				{% for resource in resources %}
					<div class="divRow">
						
						<form id='myform{{resource.resourceName}}' action="/resource" method="get">
						<div class="divCell">
							<input type="hidden" name="resource_uuid" value="{{resource.uuid}}">
							<a href="javascript:void(0)" onclick="document.getElementById('myform{{resource.resourceName}}').submit()">{{resource.resourceName}}</a>
						</div>
						</form>
								
						<div class="divCell">
									<a href="/?getOwner={{resource.author.email}}">{{resource.author.email}}</a>
						</div>

						<div class="divCell">{{resource.startTime}}</div>
						<div class="divCell">{{resource.endTime}}</div>

						<div class="divCell">						
							{% for tag in resource.tags %}
								<form id="tagForm{{tag}}" action="/tag" method="get" class="tag-header">
									<input type="hidden" name="get_Tag" value="{{tag}}">
									<a href="javascript:void(0)" onclick="document.getElementById('tagForm{{tag}}').submit()">{{tag}}</a>
								</form>
							{% endfor %}
						</div>
						
						<div class="divCell">
							<form id="RSSForm{{resource.uuid}}" action="/rss" method="get">
								<input type="hidden" name="get_ResourceID" value="{{resource.uuid}}">
								<a href="javascript:void(0)" onclick="document.getElementById('RSSForm{{resource.uuid}}').submit()">RSS</a>			
							</form>
						</div>

						<div class="divCell">{{resource.numReservations}}</div>					

					</div>
				{% endfor %}

			</div>
			<hr>

		</div>

	</body>
	
</html>
{% endautoescape %}